* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

@font-face{
  font-family: 'RJFutura-MonoRegular';
  src: url('../fonts/RJFutura-MonoRegular.otf') format('otf');
}

@font-face{
  font-family: 'RJFutura-CondensedRegular';
  src: url('../fonts/RJFutura-CondensedRegular.otf') format('otf');
}

@font-face{
  font-family: 'RJAkzidenzGrotesk-Regular';
  src: url('../fonts/RJAkzidenzGrotesk-Regular.otf') format('otf');
}

@font-face{
  font-family: 'IO';
  src: url('../fonts/IO.woff');
}

html {
  font-size: 10vw;
  font-size: 10px;
  --large: 9vw;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: white;
}


h1 {
  font-family: 'IO';
  color: rgb(162, 166, 118);
  font-size: var(--large);
  line-height: 9.3vw;
}

h2 {
  font-size: 2rem;
}

.acknowledgement {
  font-size: 1vw;
  font-family: courier;
  color: black;
  position: fixed;
  display: inline-block;
  top: 0; left: 0;
  background-color: rgb(242, 97, 45);
  text-align: center;
  padding: 10px;
}

p:hover{
  color: rgb(102, 106, 148);
}

nav {
  height: 100%;
  overflow: auto;
  position: fixed;
  padding-top: 5.6rem;
  width: 100%;
  z-index: 2;
}
nav a {
  font-family: 'IO';
  font-size: var(--large);
  color: rgb(162, 166, 118);
  display: block;
  text-align: center;
}

img:hover{
  mix-blend-mode: multiply;
  opacity: 1;
}

img{
  mix-blend-mode: multiply;
  display: inline-block;
  filter: blur(4px);
}

/* #acknowledge{
  position: sticky;
  display: inline-block;
  top: 0;
  background-color: rgb(242, 97, 45);
  text-align: center;
  padding: 10px;
} */

.menu{
  position: sticky;
  text-align: center;
  /* margin: 0 auto; */
  /* width: 100vw;
  height: 100vh; */
  /* display: block;
  top: 0; */
  position: sticky;
  /* display: inline; */
  top: 0;
  /* height: 100vh;
  width: 100vw; */
}

.images{
  mix-blend-mode: multiply;
  position: absolute;
  top: 0; left: 0;
  padding-top: 5.6rem;
  display: inline-block;
}

#sidebarmain {
  background-color: white;
  width: 40vw;
  position: absolute;
  display: none;
  top: 0;
  border-right: 1px solid black;
  padding: 1.5vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
  font-size: 1vw;
  font-family: courier;
  color: black;
}


.sidebar::-webkit-scrollbar {
  display: none;
}
