* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 10px;
}

body{
  margin: 0px;
  padding: 0px;
}

/* @font-face{
  font-family: 'RJFutura-MonoRegular';
  src: url('./assets/fonts/RJFutura-MonoRegular.otf') format('otf');
}

@font-face{
  font-family: 'RJFutura-CondensedRegular';
  src: url('./assets/fonts/RJFutura-CondensedRegular.otf') format('otf');
} */

@font-face{
  font-family: 'RJAkzidenzGrotesk-Regular';
  src: url('./assets/fonts/RJAkzidenzGrotesk-Regular.otf') format('otf');
}

p{
  font-family: 'RJAkzidenzGrotesk-Regular';
  color: black;
}

h1{
  font-size: 2rem;
  line-height: 5.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.8rem;
  font-family: 'RJAkzidenzGrotesk-Regular';

}

h3:hover{
  color: white;
}

/* img{
  width: 500px;
  height: auto;
  mix-blend-mode: multiply;
  position: absolute;
} */

.menu{
padding: 5px;
}

/* .menuitem:not(:last-of-type){
  display: inline;
  float: left;
  padding-right: 5.6rem;

}

.menuitem:nth-of-type(5){
  text-align: right;
  padding-left: 1rem;
} */

.menuitem{
  display: inline-block;
  float: left;
  padding-right: 13rem;

}

#acknowledge{
  position: relative;
  display: inline-block;
  background-color: olive;
  padding: 8px;
}

.infocopy, .consigncopy, .contactcopy{
   display: none;
   position: absolute;
   padding-right: 10vw;
   padding-left: 10vw;
   padding-top: 12vh;
   /* visibility: hidden;
   opacity: 0; */
 }

 .open{
  visibility: visible;
  opacity: 1;
  z-index: 100;
 }
